/* Button Component */
@layer base {
  .ui-button {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    cursor: pointer;
    border: 1px solid rgb(255 255 255 / 15%);
  }

  .ui-button:focus {
    outline: none;
  }

  .ui-button:disabled {
    background: #432929;
    border: 1px solid #624646;
    color: #987676;
    pointer-events: none;
    user-select: none;
  }

  /* Icon */

  .ui-button__icon {
    margin: 0 7px 0 0;
    overflow: hidden;
    width: 18px;
    height: 18px;
  }

  .ui-button__icon svg {
    width: 100%;
    height: 100%;
  }

  .ui-button span + .ui-button__icon {
    margin: 0 0 0 7px;
  }

  .ui-button:disabled .ui-button__icon {
    opacity: 0.4;
  }

  /* Size */
  @responsive {
    .ui-button__size-middle {
      font-size: 15px;
      padding: 0 1.5rem;
      height: 44px;
    }
  
    .ui-button__size-large {
      font-size: 18px;
      padding: 0 1.5rem;
      height: 58px;
    }
  
    .ui-button__size-small {
      font-size: 13px;
      padding: 0.5rem 1.125rem;
      font-weight: 600;
      height: 30px;
    }
  }

  .ui-button__size-small .ui-button__icon {
    width: 14px;
    height: 14px;
  }

  .ui-button__size-x-small {
    font-size: 11px;
    font-weight: 600;
    padding: 0 5px;
    height: 18px;
  }

  .ui-button__size-x-small .ui-button__icon {
    width: 11px;
    height: 11px;
    margin: 0 4px 0 0;
  }

  .ui-button__size-x-small span + .ui-button__icon {
    margin: 0 0 0 4px;
  }



  /* Type Primary */

  .ui-button__type-primary {
    background-color: #C63535;
  }

  .ui-button__type-primary:hover {
    background-color: #BA2B2B;
  }

  .ui-button__type-primary:active {
    background-color: #A11F1F;
  }

  .ui-button__type-primary.ui-button__outlined {
    border: 1px solid rgba(198, 53, 53, 0.6);
    background-color: transparent;
  }

  .ui-button__type-primary.ui-button__outlined:hover {
    border: 1px solid #C63535;
  }

  .ui-button__type-primary.ui-button__outlined:active {
    border: 1px solid #A11F1F;
  }

  /* Type Secondary */

  .ui-button__type-secondary {
    background-color: #3C3C41;
  }

  .ui-button__type-secondary:hover {
    background-color: #343439;
  }

  .ui-button__type-secondary:active {
    background-color: #2E2E33;
  }

  .ui-button__type-secondary.ui-button__outlined {
    border: 1px solid rgba(76, 76, 77, 0.6);
    background-color: transparent;
    color: #8D8D8F;
  }

  .ui-button__type-secondary.ui-button__outlined:hover {
    color: #BCBCBC;
  }

  .ui-button__type-secondary.ui-button__outlined:active {
    color: white;
  }

  /* Type Accent */

  .ui-button__type-accent {
    background-color: #29C2A7;
    border: 1px solid #46F5D6;
  }

  .ui-button__type-accent:hover {
    background-color: #1BAC92;
  }

  .ui-button__type-accent:active {
    background-color: #12947C;
  }

  .ui-button__type-accent.ui-button__outlined {
    border: 1px solid #1BAC92;
    background-color: transparent;
  }

  .ui-button__type-accent.ui-button__outlined:hover {
    border: 1px solid #29C2A7;
  }

  .ui-button__type-accent.ui-button__outlined:active {
    border: 1px solid #46F5D6;
  }


  /* Type Twitter */

  .ui-button__type-twitter {
    background-color: #2AA3EF;
  }

  .ui-button__type-twitter:hover {
    background-color: #1589d2;
  }
  
  /* Shined */
  .ui-button__shined:not(.ui-button__outlined):not(:disabled) {
    background-image:
      linear-gradient(45deg,
      rgba(255, 255, 255, 0) 38.5%,
      rgba(0, 0, 0, 0.01) 54.98%,
      rgba(255, 255, 255, 0.06) 54.98%,
      rgba(255, 255, 255, 0.06) 65.67%,
      rgba(255, 255, 255, 0.15) 65.68%,
      rgba(255, 255, 255, 0.15) 77.27%,
      rgba(255, 255, 255, 0.1) 77.27%,
      rgba(255, 255, 255, 0.1) 84.3%,
      rgba(255, 255, 255, 0.15) 84.31%,
      rgba(255, 255, 255, 0.15) 89.2%,
      rgba(255, 255, 255, 0.05) 89.2%,
      rgba(255, 255, 255, 0.05) 91.03%,
      rgba(255, 255, 255, 0) 92.01%);
  }

  /* Shine Outlined */
  .ui-button__shined.ui-button__outlined:not(:disabled) {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 38.5%, rgba(255, 255, 255, 0.03) 54.98%, rgba(255, 255, 255, 0.05) 54.98%, rgba(255, 255, 255, 0.05) 65.67%, rgba(255, 255, 255, 0.03) 65.68%, rgba(255, 255, 255, 0.03) 77.27%, rgba(255, 255, 255, 0.05) 77.27%, rgba(255, 255, 255, 0.05) 84.3%, rgba(255, 255, 255, 0.03) 84.31%, rgba(255, 255, 255, 0.03) 89.2%, rgba(255, 255, 255, 0.04) 89.2%, rgba(255, 255, 255, 0.03) 91.03%, rgba(255, 255, 255, 0.05) 92.01%);
  }

  /* Loading */
  .ui-button--loading {
    pointer-events: none;
    user-select: none;
  }
  
  .ui-button__loading {
    animation: spinAround .5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 9999px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em;
  }
}


/* Button Icon Component */
@layer base {
  .ui-button-icon {
    background: #1B1B1F;
    border: 2px solid #2A2A31;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #5F5F65;
  }
  
  .ui-button-icon:focus {
    outline: none;
  }
}


/* Button Link Component */
@layer base {
  .ui-button-link {
    color: white;
    text-transform: uppercase;
    font-family: Roboto;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .ui-button-link:focus {
    outline: none;
  }
  .ui-button-link:hover {
    opacity: 0.8;
  }

  /* Size */
  .ui-button-link--size-sm {
    font-size: 11px;
  }

  .ui-button-link--size-lg {
    font-size: 16px;
  }

  /* Type */
  .ui-button-link--primary {
    color: #C63535;
  }
  .ui-button-link--primary-light {
    color: #E56767;
  }
  .ui-button-link--secondary {
    color: #8D8D8F;
  }
  .ui-button-link--secondary-light {
    color: #E2E2E2;
  }

  /* Icon */
  .ui-button-link__icon {
    margin: 0 7px 0 0;
  }

  .ui-button-link span + .ui-button-link__icon {
    margin: 0 0 0 7px;
  }

  .ui-button-link--size-sm .ui-button-link__icon {
    margin-right: 4px;
  }
  .ui-button-link--size-sm .ui-button-link__icon svg {
    width: 11px;
    height: 11px;
  }
  .ui-button-link--size-md .ui-button-link__icon svg {
    width: 13px;
    height: 13px;
  }
  .ui-button-link--size-lg .ui-button-link__icon svg {
    width: 18px;
    height: 18px;
  }

  .ui-button-link__text {
    line-height: 1;
  }
}

/* ButtonGroup Component */
@layer base {
  .ui-button-group {
    display: flex;
    align-items: center;
  }
}