@layer base {
  .ui-select {
    position: relative;
    font-family: Roboto;
  }

  .ui-select select {
    appearance: none;
    padding: 10px 16px;
    line-height: 1.4;
    width: 100%;
    background: #2B2B31;
    color: #CFCFD2;
    outline: none;
    border: 1px solid #34343C;
  }

  .ui-select select:not([multiple]) {
    padding-right: 46px;
  }

  .ui-select__wrap {
    position: relative;
  }
  .ui-select__wrap:after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    right: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.375 2.25L6 6.625L1.625 2.25' stroke='%23505052' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 12px;
    height: 10px;
    pointer-events: none;
  }

  .ui-select--error {
    
  }

  .ui-select--xs select {

  }

  .ui-select--sm select {
    padding: 5px 16px;    
    font-size: 13px;
  }

  .ui-select--lg select {

  }
}