@layer base {
  .article-card__wrapper {
    width: 100%;
  }

  .article-card {
    height: 240px;
    width: 100%;
    position: relative;
    z-index: 0;
    padding: 16px;
    background: #232326;
  }
  
  .article-card__link {
    display: block;
  }

  .article-card__link::before,
  .article-card__link::after,
  .article-card__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .article-card__link::before {
    content: '';
    border: 3px solid rgba(255, 255, 255, 0.1);
    z-index: 10;
  }

  .article-card__link::after {
    content: '';
    background: linear-gradient(180deg, rgba(7, 8, 9, 0) 22.92%, #070809 100%);
    z-index: 2;
  }

  .article-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .article-card__content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    margin: 16px;
    border-left: 3px solid #C63535;
    padding-left: 16px;
  }

  .article-card__date {
    font-family: Roboto;
    color: #CFCFD2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 4px;
  }

  .article-card__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.1;
    color: white;
    max-width: 300px;
    overflow: hidden;
  }

  /* Size */
  .article-card--large {
    height: 450px;
  }
  
  .article-card--large .article-card__title {
    font-size: 28px;
    line-height: 1.22;
  }

  @screen lg {
    .article-card--large {
      height: auto;
      padding: 20px 16px;
    }

    .article-card--large .article-card__title {
      font-size: 34px;
      line-height: 1.2;
      max-width: 364px;
    }
  }
}